.mercahdising-input {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc; 
    background-color: #F0F0F0;
    font-family: 'Montserrat', sans-serif;
}
