.review-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.review-submit-enabled {
    cursor: pointer;
}

.review-submit-disabled {
    cursor: not-allowed !important;
}

.rating-enabled {
    display: flex;
    align-items: center;
}
  
.rating-disabled {
    display: flex;
    align-items: center;
    pointer-events: none;
}

.star {
    width: 20px;
    height: 20px;
    transition: transform 0.2s ease;
}
  
.star:hover {
    transform: scale(1.2);
}

.callout {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    visibility: hidden;
}
  
.callout.visible {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}
  
.callout.hidden {
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    width: 0px !important;
    height: 0px !important;
}
  