.login-page-container {
    background-color: #d3d3d3;
    justify-content: center;
    align-items: center;
}

.login-form {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 30px;
    font-family: 'Montserrat';
    margin-bottom: 100px;
}
  
.login-input {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc; 
    font-family: 'Montserrat';
}

.callout-auth {
    margin-bottom: 10px;
}

.auth-navigation-button {
    background-color: transparent;
    color: indigo;
    text-decoration: underline;
    justify-self: center;
}
  
button {
    cursor: pointer !important;
}
  