@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.navbar {
    display: flex;
    background-color: #454545;
    height: 80px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.link-container {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}

.link {
    text-decoration: none;
    font-weight: bold;
    font-family: 'Montserrat';
    color: whitesmoke;
    margin-left: 10px;
    transition: color 0.3s ease;
    display: inline-block;
    padding: 10px;
    transition: font-size 0.3s ease;
}

.link:hover {
    color: blueviolet;
    font-size: x-large;
}

.logo-link {
    margin-left: 15px;
}

.logo {
    height: 50px;
    transition: height 0.3s ease;
}

.logo:hover {
    height: 55px;
}

@media (max-width: 860px) {
    .navbar {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .link-container {
        margin-right: 0;
        margin-top: 10px;
    }

    .link {
        margin-left: 0;
        padding: 8px;
    }

    .logo-link {
        margin-left: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}