.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 14px;
    margin: 10px;
    border: 2px solid transparent;
    transition: border 0.5s ease;
    border-radius: 8px;
}

.container:hover {
    border: 2px solid #c2c2c2;
}

.image {
    padding: 20px 20px 0px;
    height: 180px;
    width: 180px;
    object-fit: cover;
}

.container > *:not(:last-child) {
    margin-bottom: 0px;
}
