.leftBar {
    width: 260px;
    height: 89vh;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid #c2c2c2;
    border-radius: 4px;
    margin: 5px;
    background-color: lightgrey;
    color: whitesmoke;
}